* {
    font-family: 'Times New Roman', Times, serif;
}

.title {
    font-size: 40px;
    font-weight: bold;
    background-color:cadetblue;
    text-align: center;
}

#recipe {
    font-size: 25px;
}

#home-page {
    font-size: 20px;
}

#introduction-title {
    text-align: center;
}

.introduction {
    font-size: 15px;
    background-color: lightcyan;
}